<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>ZealHeaderView</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.rabih96.ZealPrefs.Changed</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>alternateColors</key>
			<true/>
			<key>defaults</key>
			<string>com.rabih96.ZealPrefs</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>ALert Mode :</string>
		</dict>
		<!--dict>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>height</key>
			<integer>30</integer>
			<key>alignment</key>
			<integer>2</integer>
			<key>label</key>
			<string>Alert Mode</string>
		</dict-->
		<dict>
        	<key>cellClass</key>
			<string>ZSegmentCell</string>
			<key>height</key>
			<integer>155</integer>
			<key>key</key>
			<string>bannerMode</string>
			<key>imagesArray</key>
			<array>
				<string>AlertStyleAlert</string>
				<string>AlertStyleBanner</string>
				<string>AlertStyleNone</string>
			</array>
		</dict>
		<!--dict>
			<key>PostNotification</key>
			<string>com.rabih96.ZealPrefs.Changed</string>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>defaults</key>
			<string>com.rabih96.ZealPrefs</string>
			<key>default</key>
			<integer>1</integer>
			<key>key</key>
			<string>bannerMode</string>
			<key>cellClass</key>
			<string>CRSegmentTableCell</string>
			<key>validTitles</key>
			<array>
				<string>Alert</string>
				<string>Banner</string>
				<string>None</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
			</array>
		</dict-->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Alert Settings :</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.rabih96.ZealPrefs.Changed</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>alternateColors</key>
			<true/>
			<key>defaults</key>
			<string>com.rabih96.ZealPrefs</string>
			<key>key</key>
			<string>darkMode</string>
			<key>label</key>
			<string>Dark Mode</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Banner Settings :</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.rabih96.ZealPrefs.Changed</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>alternateColors</key>
			<true/>
			<key>defaults</key>
			<string>com.rabih96.ZealPrefs</string>
			<key>key</key>
			<string>pullDown</string>
			<key>label</key>
			<string>PullDown Banner</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>General Settings :</string>
		</dict>
		<dict>
		    <key>cell</key>
		    <string>PSLinkCell</string>
		    <key>label</key>
		    <string>Active Switches</string>
		    <key>isController</key>
		    <true/>
		    <key>bundle</key>
		    <string>FlipswitchSettings</string>
		    <key>flipswitchTemplateBundle</key>
		    <string>/Library/Application Support/Zeal.bundle</string>
		    <key>flipswitchSettingsFile</key>
		    <string>/var/mobile/Library/Preferences/com.rabih96.ZealPrefs.plist</string>
		    <key>flipswitchPostNotification</key>
			<string>com.rabih96.ZealPrefs.Changed</string>
		    <key>flipswitchEnabledKey</key>
		    <string>EnabledIdentifiers</string>
		    <key>flipswitchDisabledKey</key>
		    <string>DisabledIdentifiers</string>
		    <key>flipswitchDefaultEnabled</key>
		    <array>
		     <string>com.a3tweaks.switch.airplane-mode</string>
		     <string>com.a3tweaks.switch.wifi</string>
		     <string>com.a3tweaks.switch.bluetooth</string>
		     <string>com.a3tweaks.switch.do-not-disturb</string>
		     <string>com.a3tweaks.switch.rotation-lock</string>
		    </array>
		    <key>flipswitchDefaultDisabled</key>
		    <array>
		     <string>com.a3tweaks.switch.rotation</string>
		     <string>com.a3tweaks.switch.flashlight</string>
		     <string>com.a3tweaks.switch.settings</string>
		     <string>com.a3tweaks.switch.respring</string>
		    </array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Activation Methods</string>
			<key>isController</key>
			<true/>
			<key>bundle</key>
			<string>LibActivator</string>
			<key>activatorListener</key>
			<string>com.rabih96.ZealActivator</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Credits :</string>
		</dict>
		<dict>
			<key>action</key>
			<string>followMe:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>alignment</key>
			<string>center</string>
			<key>label</key>
			<string>Follow @rabih96</string>
			<key>icon</key>
			<string>twitter</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>height</key>
			<integer>30</integer>
			<key>alignment</key>
			<integer>2</integer>
			<key>label</key>
			<string>Zeal ©2016 Rabih M.</string>
		</dict>
	</array>
	<key>title</key>
	<string>Zeal</string>
</dict>
</plist>
