<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>ZealHeaderView</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.rabih96.ZealPrefs.Changed</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.rabih96.ZealPrefs</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>action</key>
			<string>respring</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>alignment</key>
			<string>center</string>
			<key>label</key>
			<string>Respring</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>ALert Mode :</string>
		</dict>
		<dict>
        	<key>cellClass</key>
			<string>ZSegmentCell</string>
			<key>height</key>
			<integer>155</integer>
			<key>key</key>
			<string>bannerMode</string>
			<key>imagesArray</key>
			<array>
				<string>AlertStyleAlert</string>
				<string>AlertStyleBanner</string>
				<string>AlertStyleNone</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>General Settings :</string>
			<key>footerText</key>
			<string>This feature is still experimental it might not work most of the time.</string>
		</dict>
		<!--dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>CustomPercentageList</string>
			<key>label</key>
			<string>Custom Percentage Trigger</string>
			<key>icon</key>
			<string></string>
		</dict-->
		<dict>
		    <key>cell</key>
		    <string>PSLinkCell</string>
		    <key>label</key>
		    <string>Active Switches</string>
		    <key>isController</key>
		    <true/>
		    <key>bundle</key>
		    <string>FlipswitchSettings</string>
		    <key>flipswitchTemplateBundle</key>
		    <string>/Library/Application Support/Zeal/ZealFSLight.bundle</string>
		    <key>flipswitchSettingsFile</key>
		    <string>/var/mobile/Library/Preferences/com.rabih96.ZealPrefs.plist</string>
		    <key>flipswitchPostNotification</key>
			<string>com.rabih96.ZealPrefs.Changed</string>
		    <key>flipswitchEnabledKey</key>
		    <string>EnabledIdentifiers</string>
		    <key>flipswitchDisabledKey</key>
		    <string>DisabledIdentifiers</string>
		    <key>flipswitchDefaultEnabled</key>
		    <array>
				<string>com.a3tweaks.switch.airplane-mode</string>
				<string>com.a3tweaks.switch.wifi</string>
				<string>com.a3tweaks.switch.bluetooth</string>
				<string>com.a3tweaks.switch.do-not-disturb</string>
				<string>com.a3tweaks.switch.rotation-lock</string>
		    </array>
		    <key>flipswitchDefaultDisabled</key>
		    <array>
				<string>com.a3tweaks.switch.rotation</string>
				<string>com.a3tweaks.switch.flashlight</string>
				<string>com.a3tweaks.switch.settings</string>
				<string>com.a3tweaks.switch.respring</string>
		    </array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Activation Methods</string>
			<key>isController</key>
			<true/>
			<key>bundle</key>
			<string>LibActivator</string>
			<key>activatorListener</key>
			<string>com.rabih96.ZealActivator</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.rabih96.ZealPrefs.Changed</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.rabih96.ZealPrefs</string>
			<key>key</key>
			<string>notifyWhenFull</string>
			<key>label</key>
			<string>Notify When Battery is Full</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Alert Settings :</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>ZStepperCell</string>
			<key>default</key>
			<integer>5</integer>
			<key>PostNotification</key>
			<string>com.rabih96.ZealPrefs.Changed</string>
			<key>defaults</key>
			<string>com.rabih96.ZealPrefs</string>
			<key>key</key>
			<string>switchesPerPage</string>
			<key>label</key>
			<string>Switches Per Page : %i</string>
			<key>max</key>
			<integer>6</integer>
			<key>min</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.rabih96.ZealPrefs.Changed</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.rabih96.ZealPrefs</string>
			<key>key</key>
			<string>estimateTimeLeft</string>
			<key>label</key>
			<string>Estimate Time Left To Charge</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Dark Mode :</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.rabih96.ZealPrefs.Changed</string>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>defaults</key>
			<string>com.rabih96.ZealPrefs</string>
			<key>default</key>
			<integer>3</integer>
			<key>key</key>
			<string>darkMode</string>
			<key>cellClass</key>
			<string>CRSegmentTableCell</string>
			<key>validTitles</key>
			<array>
				<string>On</string>
				<string>Scheduled</string>
				<string>Off</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
			</array>
		</dict>
		<dict>
			<key>action</key>
			<string>pickThaTime</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>alignment</key>
			<string>center</string>
			<key>label</key>
			<string>Schedule Dark Mode</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Banner Settings :</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>ZStepperCell</string>
			<key>default</key>
			<integer>5</integer>
			<key>PostNotification</key>
			<string>com.rabih96.ZealPrefs.Changed</string>
			<key>defaults</key>
			<string>com.rabih96.ZealPrefs</string>
			<key>key</key>
			<string>switchesPerPageNC</string>
			<key>label</key>
			<string>Switches Displayed : %i</string>
			<key>max</key>
			<integer>6</integer>
			<key>min</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.rabih96.ZealPrefs.Changed</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.rabih96.ZealPrefs</string>
			<key>key</key>
			<string>pullDown</string>
			<key>label</key>
			<string>PullDown Banner</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Credits :</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>ZDevCell</string>
			<key>height</key>
			<integer>60</integer>
			<key>twitterName</key>
			<string>rabih96</string>
			<key>name</key>
			<string>Rabih</string>
			<key>jobTitle</key>
			<string>Developer</string>
			<key>devImage</key>
			<string>rabih96.png</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>ZDevCell</string>
			<key>height</key>
			<integer>60</integer>
			<key>twitterName</key>
			<string>StijnDV</string>
			<key>name</key>
			<string>Stijn</string>
			<key>jobTitle</key>
			<string>Designer</string>
			<key>devImage</key>
			<string>stijn.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>height</key>
			<integer>40</integer>
			<key>alignment</key>
			<integer>2</integer>
			<key>label</key>
			<string>Zeal ©2016</string>
		</dict>
	</array>
	<key>title</key>
	<string>Zeal</string>
</dict>
</plist>
