Package: com.rabih96.Zeal
Name: Zeal
Depends: mobilesubstrate, com.a3tweaks.flipswitch
Version: 1.0
Architecture: iphoneos-arm
Description: Take control over your battery alerts
Maintainer: Rabih M.
Author: Rabih M. & Stijn
Section: Tweaks
