Package: com.rabih96.Zeal
Name: Zeal
Depends: mobilesubstrate, com.a3tweaks.flipswitch, iokittools, sed, grep, preferenceloader
Version: 1.0.1
Architecture: iphoneos-arm
Description: Take control over your battery alerts
Maintainer: Rabih M.
Author: Rabih M. & Stijn
Section: Tweaks
